Module 3 Milestone 1 Individual Assessment.docx
Module 3 Team Contract.docx
X_test.csv
X_test_encoded.csv
X_test_imputed.csv
X_train.csv
X_train_encoded.csv
X_train_imputed.csv
y_test.csv
y_train.csv
zillow_dataset.csv
Milestone_01-Draft.ipynb
README.md
